@model IEnumerable<Simav.Models.Bilgilendirme>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script src="~/lib/jquery/dist/jquery.min.js"> </script>
<script src="~/js/btnBilgilendimeSilJS.js"> </script>
<script src="~/js/toastr.js"> </script>
<script src="~/js/sweetalert.min.js"> </script>
<link href="~/css/sweetalert.css" rel="stylesheet" />
<link href="~/css/toastr.min.css" rel="stylesheet" />
<h1>Index</h1>
<p>
    <a class="btn btn-primary" asp-action="YeniBilgilendirme">Yeni Bilgilendirme Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KisaAciklama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Icerik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarih)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KisaAciklama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Icerik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tarih)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="BilgilendirmeGuncelle" asp-route-id="@item.BilgilendirmeId">Edit</a>
                <a class="btn btn-info" asp-action="BilgilendirmeDetaylar" asp-route-id="@item.BilgilendirmeId">Details</a>
                <button type="button" id="btnDelete" value="@item.BilgilendirmeId" onclick="reply_click(this.value)" class="btn btn-danger" >Delete</button>
            </td>
        </tr>
}
    </tbody>
</table>
