@model IEnumerable<Simav.Models.Olumler>

			<div role="main" class="main">
				<section class="page-top">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<ul class="breadcrumb">
									<li><a href="default.asp">Ana Sayfa</a></li>
									<li class="active">Vefat İlanları</li>
									<li class="active">@ViewBag.Tarih Tarihli Vefat İlanları</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h1>@ViewBag.Tarih Tarihli Vefat İlanları</h1>
							</div>
						</div>
					</div>
				</section>

				<div class="container">
 
	 @foreach (var item in Model){
		<div class="col-md-4">
							<div class="featured-box featured-box-secundary">
								<div class="box-content">
									<h4>@item.AdSoyad</h4>
									@Html.Raw(item.Icerik)
			    <br><br><span><h5><i class="fa fa-clock-o" aria-hidden="true"></i> -</h5><br>
				<span><h5><i class="fas fa-mosque" aria-hidden="true"></i> @item.Cami</h5><br>
				<span><h5><i class="fa fa-map-marker" aria-hidden="true"></i> @item.Mezarlik</h5><br><br>
			  
			  <div class="bottom-box">
				Vefat Etmiştir. Akraba ve dostlarına duyurulur.
				<br> <center><strong>Allah Rahmet Eyleye.</strong></center>
				
				
			  </div>
								</span></span></span></div>
							</div>
						</div>
	}
</div>













 

					
			
					
					
					
				

 
 
