@model IEnumerable<Simav.Models.Haberler>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="~/lib/jquery/dist/jquery.min.js"> </script>
<script src="~/js/btnHaberSilJS.js"> </script>
<script src="~/js/toastr.js"> </script>
<script src="~/js/sweetalert.min.js"> </script>
<link href="~/css/sweetalert.css" rel="stylesheet" />
<link href="~/css/toastr.min.css" rel="stylesheet" />
<h1>Index</h1>

<p>
    <a asp-action="YeniHaber">Yeni Haber</a>
</p>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KisaAciklama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarih)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KisaAciklama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tarih)
            </td>
            <td>
                <a asp-action="HaberGuncelle" asp-route-id="@item.HaberlerId" class="btn btn-primary">Edit</a>
                <a asp-action="HaberDetaylar" asp-route-id="@item.HaberlerId" class="btn btn-info">Details</a>
                <button type="button" id="btnDelete" value="@item.HaberlerId" class="btn btn-danger" >Delete</button> 
            </td>
        </tr>
}
    </tbody>
</table>
