@model Simav.Models.Sayfalar

@{
    ViewData["Title"] = "SayfaDetaylar";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script src="~/js/textAreaRO.js"></script>
<h1>@ViewBag.Baslik</h1>

<div>
    <h4>Sayfalar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SayfaAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SayfaAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SayfaTipi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SayfaTipi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Icerik)
        </dt>
        <dd class = "col-sm-10">
            <textarea id="local-upload">@Html.DisplayFor(model => model.Icerik)</textarea> 
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KisaAciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KisaAciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yayınla)
        </dt>
        <dd class = "col-sm-10">
            <input id="cbOnayla" checked="@Convert.ToBoolean(Model.Yayınla)" type="checkbox" />
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-info" asp-action="SayfaGuncelle" asp-route-id="@Model.SayfaId">Düzenle</a>
    <a asp-action="Index" class="btn btn-secondary">Listeye Geri Dön</a>
</div>
