@model IEnumerable<Simav.Models.Etkinler>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="~/lib/jquery/dist/jquery.min.js"> </script>
<script src="~/js/btnEtkinlikSilJS.js"></script>
<script src="~/js/toastr.js"> </script>
<script src="~/js/sweetalert.min.js"> </script>
<link href="~/css/sweetalert.css" rel="stylesheet" />
<link href="~/css/toastr.min.css" rel="stylesheet" />
<h1>@ViewBag.Baslik</h1>

<p>
    <a asp-action="YeniEtkinlik" class="btn btn-primary">Yeni Etkinlik Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EtkinlikAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KisaAciklama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resim)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EtkinlikAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KisaAciklama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resim)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="EtkinlikGuncelle" asp-route-id="@item.EtkinlikId">Güncelle</a>
                <a class="btn btn-info" asp-action="EtkinlikDetaylar" asp-route-id="@item.EtkinlikId">Details</a>
                <button type="button" value="@item.EtkinlikId" onclick="btnEtkinlikSil(this.value)" class="btn btn-danger" >Sil</button> 
            </td>
        </tr>
}
    </tbody>
</table>
