@model IEnumerable<Simav.Models.Duyuru>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script src="~/lib/jquery/dist/jquery.min.js"> </script>
<script src="~/js/btnDuyuruSilJS.js"> </script>
<script src="~/js/toastr.js"> </script>
<script src="~/js/sweetalert.min.js"> </script>
<link href="~/css/sweetalert.css" rel="stylesheet" />
<link href="~/css/toastr.min.css" rel="stylesheet" />
<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="YeniDuyuru">Yeni Duyuru Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KisaAciklama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarih)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Onay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KisaAciklama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tarih)
            </td>
            <td>
                <input checked="@Convert.ToBoolean(item.Onay)" type="checkbox" />
            </td>

            <td>
                <a class="btn btn-secondary" asp-action="DuyuruGuncelle" asp-route-id="@item.DuyuruId">Duzenle</a>
                <a class="btn btn-info" asp-action="DuyuruDetaylar" asp-route-id="@item.DuyuruId">Detaylar</a>
                <button type="button" id="btnDelete" value="@item.DuyuruId" onclick="btnDuyuruSil(this.value)" class="btn btn-danger" >Delete</button> 
            </td>
        </tr>
}
    </tbody>
</table>