@model IEnumerable<Simav.Models.Personel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="~/lib/jquery/dist/jquery.min.js"> </script>
<script src="~/js/btnPersonelSilJS.js"> </script>
<script src="~/js/toastr.js"> </script>
<script src="~/js/sweetalert.min.js"> </script>
<link href="~/css/sweetalert.css" rel="stylesheet" />
<link href="~/css/toastr.min.css" rel="stylesheet" />
<h1>@ViewBag.Baslik</h1>
<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="YeniPersonel">Yeni Personel Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdSoyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unvan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tw)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdSoyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unvan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tw)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="PersonelGuncelle" asp-route-id="@item.PersonelId">Güncelle</a>
                <a class="btn btn-info" asp-action="PersonelDetaylar" asp-route-id="@item.PersonelId">Detaylar</a>
                <button type="button" value="@item.PersonelId" onclick="btnPersonelSil(this.value)" class="btn btn-danger" >Sil</button> 
            </td>
        </tr>
}
    </tbody>
</table>
