@using Simav.Common
@model IEnumerable<Simav.Models.Projeler>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="~/lib/jquery/dist/jquery.min.js"> </script>
<script src="~/js/btnProjeSilJS.js"> </script>
<script src="~/js/toastr.js"> </script>
<script src="~/js/sweetalert.min.js"> </script>
<link href="~/css/sweetalert.css" rel="stylesheet" />
<link href="~/css/toastr.min.css" rel="stylesheet" />
<h1>@ViewBag.Baslik</h1>

<p>
    <a class="btn btn-primary" asp-action="YeniProjeler">Yeni Proje</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjeTuru)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KısaAciklama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sira)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjeDurumu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ad)
            </td>
            @if (item.ProjeTuru == (byte)Enums.ProjeTuru.Istihdam)
        {
            <td>
                İstihdam
            </td>
        }
        @if (item.ProjeTuru == (byte)Enums.ProjeTuru.Turizm)
        {
            <td>
                Turizm
            </td>
        }
        @if (item.ProjeTuru == (byte)Enums.ProjeTuru.Sehircilik)
        {
            <td>
                Şehircilik
            </td>
        }
        @if (item.ProjeTuru == (byte)Enums.ProjeTuru.Egitim)
        {
            <td>
                Eğitim
            </td>
        }
        @if (item.ProjeTuru == (byte)Enums.ProjeTuru.Sosyal)
        {
            <td>
                Sosyal
            </td>
        }
        <td>
            @Html.DisplayFor(modelItem => item.KısaAciklama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjeDurumu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sira)
        </td>
            <td>
                <a class="btn btn-primary" asp-action="ProjelerGuncelle" asp-route-id="@item.ProjeId">Güncelle</a>
                <a class="btn btn-info" asp-action="ProjelerDetaylar" asp-route-id="@item.ProjeId">Detaylar</a>
                <button type="button" value="@item.ProjeId" onclick="btnProjeSil(this.value)" class="btn btn-danger" >Sil</button>
            </td>
        </tr>
}
    </tbody>
</table>
