@using Simav.Common
@model Simav.Models.Projeler

@{
    ViewData["Title"] = "ProjelerDetaylar";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script src="~/js/textAreaRO.js"></script>
<h1>@ViewBag.Baslik</h1>

<div>
    <h4>Projeler</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjeTuru)
        </dt>
        @if (Model.ProjeTuru == (byte)Enums.ProjeTuru.Istihdam)
        {
            <dd class = "col-sm-10">
                İstihdam
            </dd>
        }
        @if (Model.ProjeTuru == (byte)Enums.ProjeTuru.Turizm)
        {
            <dd class = "col-sm-10">
                Turizm
            </dd>
        }
        @if (Model.ProjeTuru == (byte)Enums.ProjeTuru.Sehircilik)
        {
            <dd class = "col-sm-10">
                Şehircilik
            </dd>
        }
        @if (Model.ProjeTuru == (byte)Enums.ProjeTuru.Egitim)
        {
            <dd class = "col-sm-10">
                Eğitim
            </dd>
        }
        @if (Model.ProjeTuru == (byte)Enums.ProjeTuru.Sosyal)
        {
            <dd class = "col-sm-10">
                Sosyal
            </dd>
        }
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KısaAciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KısaAciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Icerik)
        </dt>
        <dd class = "col-sm-10">
            <textarea id=""local-upload" >@Html.DisplayFor(model => model.Icerik)</textarea>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjeDurumu)
        </dt>
        <dd class = "col-sm-10">
            <input id="cbOnayla" checked="@Convert.ToBoolean(Model.ProjeDurumu)" type="checkbox" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sira)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sira)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="ProjelerGuncelle" asp-route-id="@Model.ProjeId">Güncelle</a>
    <a class="btn btn-info" asp-action="Index">Listeye Geri Dön</a>
</div>
