@using Simav.Models
@{
	ViewData["Title"] = "Home Page";
    var haberListesi=ViewData["Haberler"] as List<Haberler>;
    var duyuruListesi=ViewData["Duyurular"] as List<Duyuru>;
    var ihaleListesi=ViewData["Ihaleler"] as List<Ihaleler>;
    var taziyeListesi=ViewData["Taziyeler"] as List<Olumler>;
    var videoListesi=ViewData["Videolar"] as List<Videolar>;
    var etkinlikListesi=ViewData["Etkinlikler"] as List<Etkinlikler>;
	var belediyeBaskani = ViewData["BelediyeBaskani"] as Personel;
}
<!-- #include file="ust.asp" -->

			<div role="main" class="main">

				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="nivo-slider">
								<div class="slider-wrapper theme-default"
								>
									<div id="nivoSlider" class="nivoSlider">
										@foreach (var item in haberListesi)
										{
											<img src="~/images/Haber_Image/@item.Resim" data-thumb="~/images/Haber_Image/@item.Resim" alt="" style="height:400px; width:1150;"/>
											}
									
									</div>
									<div id="htmlcaption" class="nivo-html-caption"></div>
								</div>
							</div>
						</div>
					</div>
					
				</div>

				<div class="container">
					<div class="row ">
							<div class="portfolio-item  col-md-3">
									<a href="#" class="thumb-info">
										<img alt="" class="img-responsive" src="~/images/Personel_Image/@belediyeBaskani.Resim">
										<span class="thumb-info-title">
											<span class="thumb-info-inner">@belediyeBaskani.AdSoyad</span>
											<span class="thumb-info-type">@belediyeBaskani.Unvan</span>
										</span>
									</a>
								</div>
								<div class="col-md-9">
							<div class="tabs tabs-vertical tabs-left">
								<ul class="nav nav-tabs col-sm-3">
									<li class="active">
										<a href="#popular11" data-toggle="tab" aria-expanded="true">Haberler</a>
									</li>
									<li class="">
										<a href="#recent11" data-toggle="tab" aria-expanded="false">Duyurular</a>
									</li>
									<li class="">
										<a href="#recent12" data-toggle="tab" aria-expanded="false">İhaleler</a>
									</li>
									<li class="">
										<a href="#recent13" data-toggle="tab" aria-expanded="false">Videolar</a>
									</li>
									<li class="">
										<a href="#recent14" data-toggle="tab" aria-expanded="false">Vefat İlanları</a>
									</li>
								</ul>
								<div class="tab-content">
									<div id="popular11" class="tab-pane active">
										
										<ul class="nav nav-list primary push-bottom" style="margin-bottom:0px;">
						@{
									int haberSayisi = haberListesi.Count;
							if (haberSayisi > 5)
								haberSayisi = 5;
									for (int i = 0; i < haberSayisi; i++)
									{
										<li><a asp-controller="Haberler" asp-action="HaberDetayi" asp-route-id="@haberListesi[i].HaberlerId">@haberListesi[i].Ad</a></li>
									}
		}
									
				<li><a asp-controller="Haberler" asp-action="HaberListesi" >TÜM HABERLER</a></li>	
					</ul>


									</div>
									<div id="recent11" class="tab-pane">
										<ul class="nav nav-list primary push-bottom" style="margin-bottom:0px;">
															@{
							
							int duyuruSayisi = duyuruListesi.Count;
							if (duyuruSayisi > 5)
								duyuruSayisi = 5;
											for (int i = 0; i < duyuruSayisi; i++)
											{
												<li><a asp-controller="Duyuru" asp-action="DuyuruDetayi" asp-route-id="@duyuruListesi[i].DuyuruId">@duyuruListesi[i].Ad</a></li>
											}
											}
									<li><a asp-controller="Duyuru" asp-action="DuyuruListesi">TÜM DUYURULAR</a></li>


								</ul>
									
							</div>
									<div id="recent12" class="tab-pane">
									<ul class="nav nav-list primary push-bottom" style="margin-bottom:0px;">
																				@{
							
							int ihaleSayisi = ihaleListesi.Count;
							if (ihaleSayisi > 5)
								ihaleSayisi = 5;
											for (int i = 0; i < ihaleSayisi; i++)
											{
												<li><a asp-controller="Ihaleler" asp-action="IhaleDetayi" asp-route-id="@ihaleListesi[i].IhaleId">@ihaleListesi[i].IhaleAdi</a></li>
											}
											}
									<li><a asp-controller="Ihaleler" asp-action="IhaleListesi">TÜM İHALELER</a></li>


								</ul>
									</div>
									<div id="recent13" class="tab-pane">
										<ul class="nav nav-list primary push-bottom" style="margin-bottom:0px;">
																				@{
							
							int videoSayisi = videoListesi.Count;
							if (videoSayisi > 5)
								videoSayisi = 5;
											for (int i = 0; i < videoSayisi; i++)
											{
												<li><a asp-controller="Videolar" asp-action="VideoDetayi" asp-route-id="@videoListesi[i].VideoId">@videoListesi[i].Ad</a></li>
											}
											}
									<li><a asp-controller="Videolar" asp-action="VideoListesi">TÜM VİDEOLAR</a></li>

										</ul>
									</div>
									<div id="recent14" class="tab-pane">
										<ul class="nav nav-list primary push-bottom" style="margin-bottom:0px;">
													@{
									var tarihliTaziyeListesi = taziyeListesi.GroupBy(x => x.Tarih).ToList();
							int taziyeSayisi = tarihliTaziyeListesi.Count;
							if (taziyeSayisi > 5)
								taziyeSayisi = 5;
											for (int i = 0; i < taziyeSayisi; i++)
											{
												<li><a asp-controller="Olum" asp-action="TaziyeDetayi" asp-route-id="@tarihliTaziyeListesi[i].Key.Value.ToShortDateString()">@tarihliTaziyeListesi[i].Key.Value.ToShortDateString() Tarihli Vefat Listesi</a></li>
											}
											}
									<li><a asp-controller="Olum" asp-action="TaziyeListesi">TÜM TAZİYE İLANLARI</a></li>

										</ul>
									</div>
								</div>
							</div>
						</div>
						
					</div>
					
					
					<div class="container">

					

				</div>
					
					
					
					
<!-- Web Tv-->
					<div class="row">
						<div class="col-md-12">
							
							<div class="row" >
								<div class="col-md-12">
									<h3>WEB <strong>TV</strong></h3>
									
									
									<div class="owl-carousel" data-plugin-options='{"autoHeight": true, "center": true, "margin": 10,"items": 3, "autoplay": true, "autoplayTimeout": 3000}' >
																			@{
						
											for (int i = 0; i < videoSayisi; i++)
											{
												<div>
														<a asp-controller="Videolar" asp-action="VideoDetayi" asp-route-id="@videoListesi[i].VideoId" class="thumb-info"><img alt="" class="img-responsive img-rounded" src="https://img.youtube.com/vi/@videoListesi[i].Embed/mqdefault.jpg" ></a>
												</div>
											}
											}
									</div>
								</div>
							</div>
						</div>
						
					</div>
					<!-- Web Tv-->
					<!--<div >
					<a href="baskanamesajgonder.asp"><center><img src="img/resimler/baskanamesajgonder2.png" width="1150" alt=""></center></a>
					</div>--->
					<!-- Etkinlikler -->
					<div class="row">
						<div class="col-md-12">
							
							<div class="row" >
								<div class="col-md-12">
									<h4><strong> ETKİNLİKLER</strong></h4>
									<div class="owl-carousel" data-plugin-options='{"autoHeight": true, "center": true, "margin": 10,"items": 3, "autoplay": true, "autoplayTimeout": 3000}' >
									@{
							int etkinlikSayisi = etkinlikListesi.Count;
							if (etkinlikSayisi > 5)
								etkinlikSayisi = 5;	
											for (int i = 0; i < etkinlikSayisi; i++)
											{
												<div>
														<a asp-controller="Etkinlikler" asp-action="EtkinlikDetayi" asp-route-id="@etkinlikListesi[i].EtkinlikId" class="thumb-info"><img alt="" class="img-responsive img-rounded" src="~/images/Etkinlik_Image/@etkinlikListesi[0].Resim" ></a>
												</div>
											}
											}
								</div>
							</div>
						</div>
						
					</div>
					
					
					<!-- Etkinlikler-->
					

					
					<div class="row">

						<div class="col-md-12">
							<h3>HIZLI <strong>ERİŞİM</strong></h3>
						</div>

						<ul class="portfolio-list">
							<div class="portfolio-item  col-md-2">
									<a href="yatirimdestek.asp" class="thumb-info">
										<img alt="" class="img-responsive" src="img/ortalink/1.png">
										
									</a>
								</div><div class="portfolio-item  col-md-2">
									<a href="bilgilendirme.asp" " class="thumb-info">
										<img alt="" class="img-responsive" src="img/ortalink/2.png">
										
									</a>
								</div>
								<div class="portfolio-item  col-md-2">
									<a href="projeler.asp" class="thumb-info">
										<img alt="" class="img-responsive" src="img/ortalink/3.png">
										
									</a>
								</div>
								<div class="portfolio-item  col-md-2">
									<a href="ulasim.asp" class="thumb-info">
										<img alt="" class="img-responsive" src="img/ortalink/4.png">
										
									</a>
								</div>
								<div class="portfolio-item  col-md-2">
									<a href="baskanamesajgonder.asp" class="thumb-info">
										<img alt="" class="img-responsive" src="img/ortalink/6.png">
										
									</a>
								</div>
								<div class="portfolio-item  col-md-2">
									<a href="img/projects/project.jpg" class="thumb-info">
										<img alt="" class="img-responsive" src="img/ortalink/5.png">
										
									</a>
								</div>
							
						</ul>

					</div>
					
					
					<div class="row">

						<div class="col-md-6">
							<h3>NÖBETÇİ <strong>ECZANELER</strong></h3>
						</div><div class="col-md-6">
							<h3>HAVA <strong>DURUMU</strong></h3>
						</div>

						<ul class="portfolio-list">
							<div class="portfolio-item  col-md-6">
									
									<div style="margin:auto;text-align:center;"><iframe src="https://www.eczaneler.gen.tr/iframe.php?lokasyon=1625" name="buraya tıklayınız" class="portfolio-item  col-md-12" style="height:140px;border:none;"></iframe></div>
								
								</div>
								
								<div class="portfolio-item  col-md-6">
									<img src="http://www.mgm.gov.tr/sunum/sondurum-show-2.aspx?m=SIMAV&rC=111&rZ=fff" style="width:12px; height:100px;" alt="SIMAV" /><img src="http://www.mgm.gov.tr/sunum/tahmin-show-2.aspx?m=SIMAV&basla=1&bitir=5&rC=111&rZ=fff" style="width:400px; height:100px;" alt="SIMAV" />
								</div>
								
							
						</ul>

					</div>
					
					

				</div>


			</div>
